html, body{
    margin: 0;
}
#imagem_igualdade{
    background: url(img/igualdade.jpg);
    height: 230px;
}  
#titulo{
    text-align: center;
    color: rgb(212, 83, 169);
    font-size: 40px;
}
body{
    background-color: white;
}
#botao{
    color: black;
    border: 1px black;
    padding: 10px 20px 10px 20px;
    text-align: center;
}
#dif{
    width: 50%;
}
#porque{
    background-color: rgb(228, 228, 228);
    padding: 20px;
}
section{
    padding: 20px;
    float: left;
}
.coluna{
    float: left;
    padding: 0 5%;
    position: relative;
    width: 40%;
}
.justificado{
    text-align: justify;
}
.centralizado{
    text-align: center;
}
footer{
    background-color:blanchedalmond;
    float: left;
    padding: 0 30%;
    text-align: center;
}
@media all and (max-width: 768px) {
    .coluna{
        display: block;
        width: 80%;
        padding: 0;
        margin: 10px auto;
        float: none;
    }
}